/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.page {
display: none;
position: absolute;
top: 10px;
left: 10px;
width: 360px;
}

.submitsinglereport {
  display: block;
  width: 360px;
  top: 5px;
  left: 5px;
}

#closeButton {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 16px;
  height: 16px;
  background-image: url("image/close.png");
  background-position: 0px 0px;
  border: none !important;
  z-index: 0;
}

.submitsinglereport  #closeButton {
  top: 5px;
  right: 5px;
}

#closeButton:hover {
  background-position: 16px 0px;
}

#closeButton:hover:active {
  background-position: 32px 0px;
}

.closePlacement {
  top: 10px !important;
  right: 10px !important;
}

body,table {
font-family: sans-serif;
font-size: small;
}

h1 { font-size: 140%; margin-top :0; }
h2 { font-size: 100%; margin-bottom: 1.5em; font-weight: normal; }
h3 { font-size: 110%; margin-bottom: 0; padding-bottom: 0;}

#buttons {
width: 8em;
text-align:right;
font-weight: bold;
float: right;
}

#buttons button {
margin: 0.5em;
}

.result { clear: both; margin-top: 0.5em; }
.error { color: red; }
.success { color: green; }
.hidden { display: none; }

.image-cell {
width: 48px;
height: 48px;
padding: 0px;
text-align: center;
}
#addonslist h3 {
display: block;
}
#addonslist h3 {
font-size: 100%;
}
#addons {
width: 330px;
}
#scroller {
overflow-y: auto;
overflow-x: hidden;
}

#version { color: gray; }
textarea { width: 100%; }
#details-addon-image-container {
text-align: center;
width: 64px;
float: left;
}
#details-form {
margin-left: 80px;
width: 260px;
}
.submitsinglereport #details-form {
width: 290px;
}
#skipcomment {
float: left;
width: 7em;
padding: 0.5em;
}
#skipcomment a:link {
color: inherit;
text-decoration: underline;
}

#submitting > div, #finished > div{
background: url('image/logo-addons.png') 10px 10px no-repeat;
min-height: 100px;
}

.cross-off, .cross-on, .tick-off, .tick-on, .questionmark-off, .questionmark-on {
    width: 24px;
    height: 24px;
    background: transparent url(image/icons-acr.png) 0px 0px no-repeat;
}

.cross-off { background-position: -13px -12px; }
.tick-off { background-position: -43px -12px; }
.questionmark-off { background-position: -67px -12px; }
.cross-on { background-position: -14px -42px; }
.tick-on { background-position: -44px -42px; }
.questionmark-on { background-position: -68px -42px; }

