.page {
display: none;
position: absolute;
top: 10px;
left: 10px;
width: 360px;
}

#closeButton {
position: absolute;
top: 5px;
right: 5px;
border-style: inset;
border-width: 1px;
padding: 0 5px;
font-weight: bold;
z-index: 0;
}

#closeButton span {
cursor: default;
}

body,table {
font-family: sans-serif; 
font-size: small;
}

h1 { font-size: 140%; margin-top :0; }
h2 { font-size: 100%; margin-bottom: 1.5em; font-weight: normal; }
h3 { font-size: 110%; margin-bottom: 0; padding-bottom: 0;}

#buttons {
width: 8em;
text-align:right;
font-weight: bold;
float: right;
}

#buttons button {
margin: 0.5em;
}

.result { clear: both; margin-top: 0.5em; }
.error { color: red; }
.success { color: green; }
.hidden { display: none; }

.addon-image {
width: 48px;
}
#addonslist h3 {
display: block;
}
#addonslist h3 {
font-size: 100%;
}
#addons {
width: 330px;
}
#scroller {
/*height: 110px;
max-height: 110px;*/
overflow-y: auto;
overflow-x: hidden;
}

#version { color: gray; }
textarea { width: 100%; }
#addon-image {
width: 64px;
padding-left: 10px;
float: left;
}
#skipcomment {
float: left;
width: 7em;
padding: 0.5em;
}
#skipcomment a:link {
color: inherit;
text-decoration: none;
}

#submitting > div, #finished > div{
background: url('image/logo-addons.png') 10px 10px no-repeat;
min-height: 100px;
}
